spring:
  datasource:
    url: jdbc:postgresql://localhost:5433/VoiceBook
    username: postgres
    password: ${DB_DEV_PASSWORD}
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.PostgreSQLDialect
    show-sql: true